body, html {
	font-family: 'Poppins';
	color: #f1f1f1;
	/* background: #121212; */
}

.bg {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -10;

  background-image: url("./assets/bg.jpg");
  background-size: cover;
}

.hero-solid {
	width: 20px;
	height: 20px;
}

/* Login */
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.login-xl {
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
}

.login-text {
  max-width: 600px;
  color: #ddd;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
}

.login-text a {
  color: #1DD954;
}

.spotify-button {
  padding: 15px 49px;
  color: #ccf2d7;
  background: #1DD954;
  border: none;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 16px;
  line-height: none;
  text-decoration: none;
  box-shadow: rgba(0, 50, 0, 0.1) 0px 20px 25px -5px, rgba(0, 50, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 99px;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  -ms-border-radius: 99px;
  -o-border-radius: 99px;
  cursor: pointer;
}


/* Header */
.header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	color: #e1e1e1;
	background: #000;
}

.header-wrapper {
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.playback-wrapper {
	display: flex;
	gap: 20px;
}

.cover {
	height: 100px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.fullpage-center {
  width: 100%;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

/* Dashboard */

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  padding: 20px 20px;
  gap: 10px;
}

.song {
  background: none;
  color: inherit;
  border: none;

  border: 1px solid rgba(18, 18, 18, 0);
  padding: 5px 20px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;

  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  cursor: pointer;
}

.song:hover {
  background: rgba(78, 78, 78, 0.1);
}

.song:active {
  border: 1px solid rgba(126, 126, 126, 0.1);
}


.song-id {
  font-family: monospace;
}

.song-cover {
  width: 50px;
  height: 50px;
  margin-left: 40px;
}

.song-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 80px;
}

.song-data > * {
  width: 15%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

/* Showcase */
.showcase {
  width: 100%;
  margin-top: 120px; /* Fixes Navigation's(postition: fixed) */
}

.showcase-wrapper {
  margin-top: 70px;
}

.tracks-overflow {
  overflow-x: hidden;
}

.tracks-list {
  margin-bottom: 64px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 10px;
}

.tracks-list:first-child {
  padding-left: 40%;
}

.track {
  position: relative;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  background: #aaa;
  overflow: hidden;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
}

.current {
  margin-bottom: 77px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.current-name {
  color: #fff;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
  text-align: center;
}

.current-artist {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}

.controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.control-button {
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  color: #fff;
  cursor: pointer;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.control-button:hover {
  opacity: 0.8;
}

/* Promote */
.promote-wrapper {
  margin: 100px 0;
}

.promote-grid {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.promote-grid-item {
  background: none;
  border: none;
  width: 200px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.promote-grid-item:hover {
  opacity: 0.8;
}

.promote-grid-item img {
  width: 100%;
}

/* lg */
@media (min-width: 1024px) {
  .showcase-wrapper {
    margin-top: 170px;
  }
}