/* Nav */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-wrapper {
	padding: 35px 45px;
} 

.profile {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.profile-pic {
	width: 50px;
	height: 50px;

	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.profile-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 6px;
}

.profile-text {
	font-family: 'Nunito Sans';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	text-align: left;
}

.author-link {
	color: #1DD954;
	font-family: Nunito Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px;
	text-align: left;
	text-decoration: none;
}